{
  "extends": "airbnb",
  "rules" : {
    "semi": [2, "never"],
    "no-multi-spaces": [2, {"exceptions": {"VariableDeclarator": true}}],
    "comma-dangle": 0,
    'keyword-spacing': [2, { 'before': true, 'after': true, "overrides": { "if": { "after": false }}}],
    "no-confusing-arrow": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": true}]
  }
}
